@model List<Product>
<div>
    <a asp-action="Add" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Price.ToString("C")</td>
                <td>@p.Categogy</td>
                <td>
                    <img src="@p.ImageUrl" alt="Product Image" style="width: 100px; height: auto;" />
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@p.Id" class="btn btn-success me-1">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

